@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
:root{
    --header-height: 3rem;

    /*======Font Weight======*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*----- COLORES-----*/
    --blue-color: #6DB1BF;
    --blue-color-dark: hsl(189, 28%, 39%);
    --white-faded: #FFEAEC;
    --white-color-grayed: #f2f2f2;
    --white-color: #fff;
    --dark-color: black;
    --pine-green: #0B7A75;

    /*===== Font and typography =====*/
    --big-font-size: 1.25rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --title-font-size: 4rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .813rem;

    --body-font: 'Staatliches', cursive;

    /*====== Margins ======*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*-----Z-INDEX----*/
    --z-fixed: 1000;

    /*------ Rotate Image-------*/
    --rotate-image: rotate(-30deg);
}

/*======GENERAL ELEMENTS======*/

@media screen and (min-width: 768px) {
    :root{
        --big-font-size: 1.5rem;
        --bigger-font-size: 2rem;
        --biggest-font-size: 3rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .875rem;
    }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}

html{
    scroll-behavior: smooth;
}

::before,::after{
    box-sizing: border-box;
}

body{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 1.6;
}

.section{
    padding: 5rem 0 2rem; 
}
.section-title{
    position: relative;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-4);
    text-align: center;
    letter-spacing: .1rem;
}
.section-title::after{
    content: '';
    position: absolute;
    width: 0.25px;
    height: 0.18rem;
    top: -1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
}

h1,h2,h3,h4,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
.landing_Page
{
    background: linear-gradient(var(--blue-color), var(--white-color));
    overflow-x: hidden;
    min-height: 100vh;
}

/*===== LAYOUT ========*/

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

/*====Header Element=====*/

@media screen and (max-width: 768px){
    .nav__menu{
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    transition: .5s;
    justify-content: space-evenly;
}
header .logo{
    display: none;
}
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: var(--z-fixed);
}
header .logo
{
    color: var(--white-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    font-size: var(--big-font-size);
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;

}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #6DB1BF;
}

/*=====Landing Header====*/

.landing__Header
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.landing__Header::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#fff,transparent);
    z-index: var(--z-fixed);
}
.landing__Header img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: var(--title-font-size);
 
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #6DB1BF;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

/*====== SOCIAL ORDERS =======*/

.social__orders{
    position: relative;
    width: 100%;
    height: 30vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212121;
}
.dark {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dark .btn-gradient {
    color: rgba(255,255,255,.54);
    box-shadow: 0 0 1px rgba(255,255,255,0.54);
}
.dark .btn-gradient:hover {
    color: #fff;
}
.social__orders ul li {
    list-style: none;
    display: inline-block;
}
.btn-gradient {
    width: 60px;
    height: 60px;
    text-align: center;
    display: block;
    margin: 20px;
    border-radius: 2px;
    transition: all 300ms;
}
.btn-gradient i {
    font-size: 30px;
    line-height: 2.1;
    vertical-align: middle;
}
.btn-gradient.rounded {
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.54);
}
@keyframes Gradient {
    0% {
        background-position: 50%;
    }
    50% {
       background-position: 100% 50%;
   }
   100% {
       background-position: 0 50%;
   }
}
.dark .btn-gradient.facebook:hover {
    box-shadow: 0 5px 8px rgba(26,35,126,0.50);
    background: #3949ab;
    background: linear-gradient(to right,#3949ab 0%,#2196f3 100%);
    background-size: 400%;
    animation: Gradient 3s ease;
}

.dark .btn-gradient.instagram:hover {
   box-shadow: 0 5px 8px rgba(63,81,181,0.50);
   background: #ffc107;
   background: linear-gradient(to right,#ffc107 0%,#f50057 50%,#3f51b5 100%);
   background-size: 400%;
   animation: Gradient 3s ease;
}






/*======= BUTTON =======*/
.button-light{
    display: inline-flex;
    color: var(--dark-color);
    font-weight: var(--font-bold);
    align-items: center;
}
.button-icon{
    font-size: 1.25rem;
    margin-left: var(--mb-1);
    transition: .3s;
}
.button-light:hover .button-icon{
    transform: translateX(.25rem);
}

/*======FEATURED SECTION======*/
#featured
{
    position: relative;
    padding: 100px;
    background: #fff;
}
.featured_container
{

    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sticker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--white-color-grayed);
    border-radius: .5rem;
    transition: .3s;
}
.sticker_sale{
    position: absolute;
    left: .5rem;
    background-color: var(--pine-green);
    color: var(--white-color);
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    transform: rotate(-90deg);
    letter-spacing: .1rem;
}
.sticker_img{
    width: 220px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-3);
    filter: drop-shadow(0 12px 8px rgba(0, 0, 0, .2));
    
}
.sticker__name, .sticker__price{
    font-size: var(--h2-font-size);
    letter-spacing: .1rem;
    font-weight: var(--font-semi-bold);
}
.sticker__name{
    margin-bottom: var(--mb-1);
}
.sticker__price{
    margin-bottom: var(--mb-3);
}
.sticker:hover{
    transform: translateY(.5rem);
}

/*====== FOOTER ======*/

.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.footer__box{
    margin-bottom: var(--mb-4);
}
.footer__title{
    font-size: var(--big-font-size);
}
.footer__link{
    display: block;
    width: max-content;
    margin-bottom: var(--mb-1);
}
.footer__social{
    font-size: 3rem;
    margin-right: 1.25rem;
}
.footer__copy{
    padding-top: 3rem;
    font-size: var(--smaller-font-size);
    color: var(--white-color-grayed);
    text-align: center;
}



/*====== MEDIA QUERIES =======*/
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    body{
        margin: 0;
    }

    .section{
        padding: 7rem 0;
    }

    .section-title::after{
        width: 76px;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
}